.table{
    background-color: darkkhaki;
    padding: 20px;
    border: 1px solid grey;

}
.table > table{
    background-color: antiquewhite;
    border: 3px dotted black ;
    border-collapse: collapse;
    width: 100%;
}

.table table th{
    font-weight: bold;
    padding: 5px;
    background: cadetblue;
    border: 1px solid black;
    margin: 5px;
    font-family: Arial;
    border-collapse: collapse;

}

.table table td{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    font-family: Arial;
}
#pages{
    margin: 5px;
    font-family: Arial;
    font-size: large;
}
select{
    margin: 5px;
    font-family: Arial;
    font-size: large;
}
#page{
    padding: 5px;


}
.pgn-bnt-styled{

    width: 30px;
    padding: 2px;
    margin: 1px;
    border: 1px solid black;
    border-color: grey;
    border-radius: 5px;

}

.create input{
   width: 200px;
    border-radius: 20px;
    padding: 5px;


}

.create select{
    width: 200px;
    border-radius: 20px;
    padding: 5px;


}

#btn_sv{
    width: 100px;
    height: 30px;
    padding: 2px;
    margin: 1px;
    border: 1px solid black;
    border-color: grey;
    border-radius: 5px;
}

.message{
    width: 500px;
    text-align: center;
    background-color: greenyellow;
}

#btn_crt{
    width: 100px;
    height: 30px;
    padding: 2px;
    margin: 1px;
    border: 1px solid black;
    border-color: grey;
    border-radius: 5px;
}
